*{
    margin: 0px;
    padding: 0px;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background-color:#675799;
}

a:link{text-decoration: none;}
a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
a:active{text-decoration: none;}


#wrapper-div{
    width: 100%;
    margin:auto;
    background-color: #675799;
}



.clearfix::after {
    content:"";
    display:block;
    clear:both;
}

#logo-nav-div{
    width:100%;
    min-height: 50px;
    background-color:#5f43b2;
    margin-bottom:10px;
    position: fixed;
    text-decoration: none;
    padding-top: 1px;
    text-transform: uppercase;
}

        #logo-div{
            width:10%;
            min-height:50px;
            float:left;
            line-height:50px;
            padding-left:2%;
        }

        #nav-div{
            width:90%;
            min-height:50px;
            float:right;
            line-height:50px;
        }
        
        #logo-nav-div a{
            float:left;
            color: #dedede;
            font-size: 20px;
            text-align: center;
            padding:10px 20px;
        }

        #logo-nav-div a:hover{
            color:#808080;
        }
        
        #logo-nav-div a.active {
            background-color: #412c7a;
            color: #a8a7a7;
        }

        #logo-nav-div img{
                height: auto;
                width: 60%;
                margin: 5px;
                float:left;
        }

                #logo-div{
                    width:10%;
                    min-height:50px;
                    float:left;
                    line-height:50px;
                    padding-left:2%;
                }

                #nav-div{
                    width:90%;
                    min-height:50px;
                    float:right;
                    line-height:50px;
                }


#header-banner-div{
    width:100%;
    min-height:500px;
    background-color: lightgray;
    text-align: center;
    line-height: 100px;
    margin-bottom: 10px;
    background-image: url(https://www.shutterstock.com/image-photo/female-groomer-brushing-miniature-white-260nw-1207239625.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

#intro-div{
    width:100%;
    min-height:80px;
    background-color: lightgray;
    text-align: center;
    line-height: 80px;
    margin-bottom: 10px;
}



#body-div{
    width: 100%;
    min-height: 500px;
    margin-bottom: 10px;
}

        #left-body{
            width: 20%;
            min-height: 500px;
            float:left;
        }

        #right-body{
            width:70%;
            min-height: 500px;
            float: right;
        }

                #body-head-div{
                    width: 100%;
                    min-height: 150px;
                    background-color: lightgray;
                    margin-bottom: 50px;
                    text-align: center;
                    line-height: 150px;
                }

                #body-area-div{
                    width: 100%;
                    min-height: 300px;
                    background-color: lightgray;
                    text-align: center;
                    line-height: 300px;
                }

#main-div{
    width: 100%;
    min-height: 400px;
    margin-bottom: 10px;
}

        #main-div .box{
            width:30%;
            min-height: 400px;
            background-color: lightgray;
            float:left;
            text-align: center;
            line-height: 400px;
        }
                #main-div .box:nth-child(2){
                    margin-left: 5%;
                    margin-right: 5%;
                }

                #footer-div{
                    width: 100%;
                    min-height: 50px;
                    background-color: lightgray;
                    text-align: center;
                    line-height: 50px;
                }



.dropdown {
    float: left;
    position:relative;
    outline:none;
}

.dropbtn {
    padding:12px 16px;
    cursor: pointer;
    transition: .035s ease ease-out;
    float:right;
}

.dropdown .dropdown-content{
    position:absolute;
    top:50%;
    background-color:  black;
    min-width: 120%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 100000;
    visibility: hidden;
    opacity: 0;
    transition: 0.35s ease-out;
}

.dropdown-content a{
    color:black;
    display:block;
    text-decoration: none;
    transition: 0.35s ease-out;
}
.dropdown-content a:hover{
    color:#808080;
}

.dropdown:focus .dropdown-content{
    outline: none;
    transform: translateY(20px);
    visibility: visible;
    opacity:1;
}

.dropbtn:hover, .dropdown:focus .dropbtn{
    color:#808080;
}

.dropdown .db2 {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0; opacity: 0;
    cursor: pointer;
    z-index: 10;
    display: none;
  }
  .dropdown:focus .db2 {
    display: inline-block;
  }
  .dropdown .db2:focus .dropdown-content {
    outline: none;
    visibility: hidden;
    opacity: 0;
  }