*{
    margin: 0px;
    padding: 0px;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}

#logo-nav-div{
    width:100%;
    min-height: 50px;
    background-color:lightgray;
}

#logo-div{
    width:50%;
    min-height:50px;
    background-color:gray;
    float:left;
}

#nav-div{
    width:50%;
    min-height:50px;
    background-color:gray;
    float:right;
}